<h2>System Information</h2>
<!-- connecting state -->
<div *ngIf="systemStatus.state === mySystemState.connecting" class="warn">
    Identifying Test System
</div>

<!-- error state -->
<div class="error "*ngIf="systemStatus.state == mySystemState.error">
    <p class="error_reason"> {{systemStatus.reason}} </p>
</div>

<!-- system information -->
<div *ngIf="systemStatus.state !> mySystemState.error">
    <div class="info text">
        <label for="systemName">System</label>
        <input type="text" name="systemName" id="systemName" disabled value="{{systemStatus.device_id}}" />
    </div>
    <div class="info text">
        <label for="time">Time</label>
        <input type="text" name="time" id="time" disabled value="{{systemStatus.time}}" />
    </div>
    <div class="info text">
        <label for="environment">Environment</label>
        <input type="text" name="environment" id="environment" disabled value="{{systemStatus.env}}" />
    </div>
    <div class="info text">
        <label for="handler">Handler</label>
        <input type="text" name="handler" id="handler" disabled value="{{systemStatus.handler}}" />
    </div>
    <div class="info text">
        <label for="numOfSites">Number of Sites</label>
        <input type="number" name="numOfSites" id="numOfSites" disabled value="{{systemStatus.sites.length}}" />
    </div>
</div>
