# -*- coding: utf-8 -*-
"""
This is the 'common.py' file for '{{ hardware }}'/'FT'
"""

from . import __init__  # Do **NOT** touch !
from .. import common  # Do **NOT** toych !

# Add your stuff after this line.