# -*- coding: utf-8 -*-
"""
{{ HWdefinition['hardware'] }}/PR/__init__.py
"""

from . import __init__  # Do **NOT** touch !
from .. import common  # Do **NOT** toych !

# Add your stuff after this line.