<hr class="rounded" id="sysConsole">

<div class="row">
    <div class="side">
        <h2>System Console</h2>
        {{retrieveData(msg)}}
        <app-button [buttonConfig]="clearConsoleButtonConfig" (buttonClickEvent)="clearConsole()"></app-button>
    </div>
    <div class="main">
        <div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Topic</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor='let member of msgs.reverse()'>
                    <td>{{member.date}}</td>
                    <td>{{member.topic}}</td>
                    <td>{{member.description}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>