<hr class="blueDivider">
<div class="row">
  <div class="side">
    <h2>System Console</h2>
    <app-button [buttonConfig]="clearConsoleButtonConfig" (buttonClickEvent)="clearConsole()"></app-button>
  </div>
  <div class="main">
    <div>
      <table>
        <tr>
          <th>Date</th>
          <th>Topic</th>
          <th>Description</th>
        </tr>
        <tr *ngFor='let member of msgs.reverse()'>
            <td class="date">{{ member.date }}</td>
            <td class="topic">{{ member.topic }}</td>
            <td class="description">{{ member.description }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>