<div *ngIf="systemStatus.state !> mySystemState.error">
    <hr id="sysSite">
    <div class="row">
        <div class="side">
            <h2>System Sites</h2>
            {{ retrieveData(msg) }}
        </div>
        <div class="main">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Site ID</th>
                    <th>State</th>
                </tr>

                <tr *ngFor='let site of _sites_control'>
                    <td> {{ site.type }} </td>
                    <td> {{ site.site_id }} </td>
                    <td> {{ site.state }} </td>
                </tr>

                <tr *ngFor='let site of _sites_test'>
                    <td> {{ site.type }} </td>
                    <td> {{ site.site_id }} </td>
                    <td> {{ site.state }} </td>
                </tr>
            </table>
        </div>
    </div>
</div>