<div *ngIf="systemStatus.state !> mySystemState.error">
    <h2>System Control</h2>
    <div class="info text">
        <label for="lotNumber">Lot Number</label>
        <input 
               #lotNumber
               type="text"
               name="lotNumber"
               id="lotNumber"
               placeholder="Provide lot number here"
               [attr.disabled]="systemStatus.state !== mySystemState.initialized?'true':null"
               />
        <button
               type="button"
               [attr.disabled]="systemStatus.state === mySystemState.initialized?null:'true'"
               (click)="sendLotNumber(lotNumber.value)">Send Lot Number to Tester</button>
    </div>
    <div class="info text">
        <button 
         type="button"
         [attr.disabled]="systemStatus.state === mySystemState.ready?null:'true'"
         (click)="startDutTest()">Start DUT-Test</button>
        <button
         type="button"
         [attr.disabled]="systemStatus.state === mySystemState.ready?null:'true'"
         (click)="unLoadTestProgram()">Unload Test Program</button>
    </div>
</div>
