<!-- error state -->
<div *ngIf="visiable">
    <div class="error" *ngIf="systemStatus.state === mySystemState.error">
        <button class="btn-close" type="button" (click)="visiable = false">&times;</button>
        <h3>{{systemStatus.reason}}</h3>
    </div>
</div>

<!-- deviders -->
<hr class="blueDivider">

<!-- System Information -->
<app-card [cardConfiguration]="informationCardConfiguration">
  <!-- connecting state -->
  <div *ngIf="systemStatus.state === mySystemState.connecting">
    <app-card [cardConfiguration]="identifyCardConfiguration">  
      <div class="warn"><strong>Identifying Test System!</strong></div>
    </app-card>
  </div>
      
  <!-- system information -->
  <div *ngIf="systemStatus.state !> mySystemState.error">
    <app-card [cardConfiguration]="infoContentCardConfiguration">
      <app-infomation [informationConfig]="sytemInformationConfiguration"></app-infomation>
      <app-infomation [informationConfig]="numberOfSitesConfiguration"></app-infomation>
      <app-infomation [informationConfig]="timeInformationConfiguration"></app-infomation>
      <app-infomation [informationConfig]="environmentInformationConfiguration"></app-infomation>
      <app-infomation [informationConfig]="handlerInformationConfiguration"></app-infomation>
    </app-card>
  </div>  
</app-card>

